.userImage { 
    height: 200px;
    width: 200px;
}

.search-results{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.repo{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 2%;
}

.language-logo{
    height: 50px;
    width: 50px;
}